<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Endica</name>

    <description>
       App endica. 
    </description>

    <author href="https://mobiweb.com.br" email="contato@mobiweb.com.br">
       teste 
    </author>
	<feature name="http://plugins.phonegap.com/ChildBrowser/2.0.1"/>
	<access origin="*"/>

</widget>
